@import './base.css';
.logo {
  background-image: url(../assets/neolife_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  display: block;
  margin: 0em auto;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  background: var(--white);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

nav {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
.description {
  opacity: 0.7;
  font-size: 1em;
}
.wrapper {
  padding-top: 5em;
}
.shadow {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}
p {
  position: relative;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.125em;
}
li {
  font-weight: 300;
  margin: 1em 0em;
  font-size: 1.125em;
}
b {
  font-weight: 600;
}
h1 {
  font-weight: 800;
  letter-spacing: 2px;
}
h2 {
  position: relative;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.8;
  text-transform: uppercase;
  color: var(--dark-blue);
}
h3 {
  font-size: 1.3em;
  opacity: 0.8;
  font-weight: 500;
}

h4 {
  font-size: 1.1em;
  opacity: 0.8;
  font-weight: 400;
}
.popUp {
  background: var(--white);
  display: block;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 10;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border-radius: 5px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
a {
  color: var(--white-opacity);
  transition: 0.4s;
  cursor: pointer;
  padding: 0.5em 0em;
  text-decoration-line: none;
  border-bottom: 1px solid var(--gray-opacity);
  width: 100%;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  padding: 10px 1em;
  outline: none;
  width: 100%;
  background: var(--gray-opacity);
  text-align: center;
  overflow: hidden;
  border: none;
  margin: 0.5em 0em;
}
input[type='checkbox'] {
  width: 2em;
}

.btnsDiv {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.editBtn {
  position: absolute;
  top: 0.7em;
  right: 1.7em;
}
.importanceDiv {
  position: absolute;
  top: 2.5em;
  right: 0em;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 5em;
  color: var(--white);
}
.importance {
  font-size: 1em;
  font-weight: 500;
  padding: 0em;
  line-height: 0.5em;
}
.importanceLabel {
  font-size: 0.7em;
}
.urgencyDiv {
  position: absolute;
  top: 4.5em;
  right: 0em;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 5em;
  color: var(--white);
}
.urgency {
  font-size: 1em;
  font-weight: 500;
  padding: 0em;
  line-height: 0.7em;
}
.urgencyLabel {
  font-size: 0.7em;
}
.card {
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1em;
  padding-right: 0em;
  margin: 0.5em 0em;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  margin-bottom: 0.5em;
  position: relative;
  width: 100%;
}
.card h3 {
  margin-top: 0.5em;
}

.cardInfoContainer {
  display: grid;
  grid-template-columns: auto 5em;
}
.cardInfoColor {
  width: 5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--blue-opacity);
  display: block;
}
.counterDiv {
  margin: 1em 0em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

input:focus,
textarea:focus {
  box-shadow:
    #13bfa1ff 0px 1px 2px 0px,
    #13bfa1ff 0px 1px 3px 1px;
  outline-width: 1px;
  outline-color: var(--white-opacity);
  outline-style: groove;
}

.router-link-active {
  color: var(--white);
  border-color: var(--blue);
}

.checkboxDiv {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fafaf2ff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00bbbbff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
button {
  color: var(--white);
  background: var(--blue-gradient);
  border-radius: 5px;
  padding: 0.5em 2em;
  border: none;
  outline: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 1.125em;
}
.infoHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  margin-top: 1em;
}
.infoBlock {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-right: 1em;
  align-items: center;
  column-gap: 0.5em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #10101011;
}

.img {
  width: auto;
  height: 25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.no_values_image {
  background-image: url(../assets/no_values.png);
}

.with_values_image {
  background-image: url(../assets/with_values.png);
}
.no_values_obstacles {
  background-image: url(../assets/no_values_obstacles.png);
}
.with_values_obstacles {
  background-image: url(../assets/with_values_obstacles.png);
}
.no_values_resources {
  background-image: url(../assets/no_values_resources.png);
}
.with_values_resources {
  background-image: url(../assets/with_values_resources.png);
}
.no_values_lifeVision {
  background-image: url(../assets/no_values_lifeVision.png);
}
.with_values_lifeVision {
  background-image: url(../assets/with_values_lifeVision.png);
}
.no_values_mainGoal {
  background-image: url(../assets/no_values_mainGoal.png);
}
.with_values_mainGoal {
  background-image: url(../assets/with_values_mainGoal.png);
}
.menuIcon {
  background-image: url(../assets/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1em;
}
