@import './base.css';

html {
  background-color: #fafaf2ff;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

nav {
  display: flex;
  align-items: center;
}

.white {
  color: rgba(#fafaf2ff);
}

.gray {
  color: rgba(#7f7f7fff);
}

.black {
  color: rgba(#101010ff);
}

.blue {
  color: rgba(#00bbbbff);
}
.description {
  opacity: 70%;
}
.shadow {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}
h2 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 10em;
}
h3 {
  border-bottom: 1px solid #00bbbbff;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-right: 3em;
  margin-left: 3em;
  text-align: center;
  font-size: 1.3em;
}
.popUp {
  background-color: #fafaf2ff;
  display: block;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 10;
}
select {
  border: none;
  font-size: 1em;
  padding: 10px 1em;
  border-radius: 5px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  outline: none;
  margin: 3px;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fafaf2ff;
  transition: 0.4s;
  border-bottom: 1px solid #00bbbb00;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 5px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px 1em;
  margin: 3px;
  outline: none;
  width: 100%;
}
input[type='checkbox'] {
  width: 2em;
}
textarea {
  border-radius: 5px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.counterDiv {
  margin: 1em 0em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

input:focus {
  box-shadow:
    rgba(0, 145, 255, 0.3) 0px 1px 2px 0px,
    rgba(0, 145, 255, 0.15) 0px 1px 3px 1px;
}

.router-link-active {
  border-color: #fafaf2ff;
}

.checkboxDiv {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fafaf2ff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00bbbbff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.infoBlock {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  padding: 1em;
  column-gap: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #10101011;
}

@media (min-width: 1024px) {
}
